/*
    My very own (awesome) Ox configuration file!
    
    Ox uses RON. RON is an object notation similar to JSON.
    It makes it easy and quick for Ox to parse.

    Config name: NAME
    Author:      AUTHOR
    YEAR:        YEAR
*/

// General settings for Ox
(
    general: General(
        line_number_padding_right: 2, // Line number padding on the right
        line_number_padding_left:  1, // Line number padding on the left
        tab_width:                 4, // The amount of spaces for a tab
        undo_period:               5, // Seconds of inactivity for undo
        wrap_cursor:            true, // Determines wheter the cursor wraps around
        // Values:
        // %f - File name
        // %F - File name with full path
        // %I - Language specific icon with leading space
        // %i - Language specific icon
        // %n - Language name
        // %l - Current line number in the document
        // %L - Total number of lines in the document
        // %x - X position of the cursor
        // %y - Y position of the cursor
        // %v - Version of the editor (e.g. 0.2.6)
        // %d - Dirty file indicator text
        // %D - Dirty file indicator icon
        status_left:  " %f%d %D │ %n %i", // Left part of status line
        status_right: "並 %l / %L │ 﫦(%x, %y) ", // Right part of status line
        tab: "%I%f%d", // Tab formatting
    ),
    // Custom defined macros
    macros: {
        // Macro to move a line up
        "move line up": [
            "store line 1", // Store current line in bank #1
            "delete 0",     // Delete current line
            "move 1 up",    // Move cursor up by 1
            "line above",   // Insert an empty line above
            "move 1 up",    // Move cursor up to the empty line
            "load line 1",  // Load line in bank #1 over the empty line
        ],
        // Macro to move a line down
        "move line down": [
            "store line 1", // Store the current line in bank #1
            "delete 0",     // Delete the current line
            "line below",   // Create an empty line below
            "move 1 down",  // Move cursor down to empty line
            "load line 1",  // Overwrite empty line with line in bank #1
        ],
        // Macro to save with root permission
        "save #": [
            // SHCS: Shell with confirmation and substitution
            // With substitution, `%C` becomes the current documents contents
            // `%F` becomes the file path of the current document
            "shcs sudo cat > %F << EOF\n%CEOF", // '%F' is the current file name
            "is saved", // Set the status of the file to saved
        ],
    },
    // RGB values for the colours of Ox
    theme: Theme(
        transparent_editor: false,         // Makes editor background transparent
        editor_bg:          (41, 41, 61), // The main background color
        editor_fg:          (255, 255, 255), // The default text color
        status_bg:          (59, 59, 84), // The background color of the status line
        status_fg:          (35, 240, 144), // The text color of the status line
        line_number_fg:     (73, 73, 110), // The text color of the line numbers
        line_number_bg:     (49, 49, 73), // The background color of the line numbers
        active_tab_fg:      (255, 255, 255), // The text color of the active tab
        active_tab_bg:      (41, 41, 61), //  The background color of the active tab
        inactive_tab_fg:    (255, 255, 255), // The text color of the inactive tab(s)
        inactive_tab_bg:    (59, 59, 84), // The text color of the inactive tab(s)
        warning_fg:         (208, 164, 79), // Text colour of the warning message
        error_fg:           (224, 113, 113), // Text colour of the warning message
        info_fg:            (255, 255, 255), // Text colour of the warning message
        default_theme:    "default", // The default syntax highlights to use
        fallback:         true, // Enables use of fallback themes (if detected)
    ),
    // Colours for the syntax highlighting
    highlights: {
        "default": {
            "comments":   (113, 113, 169),
            "keywords":   (134, 76, 232),
            "namespaces": (134, 76, 232),
            "references": (134, 76, 232),
            "strings":    (39, 222, 145),
            "characters": (40, 198, 232),
            "digits":     (40, 198, 232),
            "booleans":   (86, 217, 178),
            "functions":  (47, 141, 252),
            "structs":    (47, 141, 252),
            "macros":     (223, 52, 249),
            "attributes": (40, 198, 232),
            "headers":    (47, 141, 252),
            "symbols":    (47, 141, 252),
            "global":     (86, 217, 178),
            "operators":  (86, 217, 178),
            "regex":      (40, 198, 232),
            "search_active":   (41, 73, 131),
            "search_inactive": (29, 52, 93),
        },
        "alternative": {
            "comments":   (113, 113, 169),
            "keywords":   (64, 86, 244),
            "namespaces": (64, 86, 244),
            "references": (64, 86, 244),
            "strings":    (76, 224, 179),
            "characters": (110, 94, 206),
            "digits":     (4, 95, 204),
            "booleans":   (76, 224, 179),
            "functions":  (4, 95, 204),
            "structs":    (4, 95, 204),
            "macros":     (110, 94, 206),
            "attributes": (4, 95, 204),
            "headers":    (141, 129, 217),
            "symbols":    (249, 233, 0),
            "global":     (76, 224, 179),
            "operators":  (76, 224, 179),
            "regex":      (4, 95, 204),
            "search_active":   (41, 73, 131),
            "search_inactive": (29, 52, 93),
        },
    },
    // Key bindings
    keys: {
        // Keybinding: [Oxa commands]
        Ctrl(Char('q')): ["quit"], // Quit current document
        Ctrl(Char('s')): ["save"], // Save current document
        Alt(Char('s')):  ["save ?"], // Save current document as
        Ctrl(Char('w')): ["save *"], // Save all open documents
        Ctrl(Char('n')): ["new"], // Create new document
        Ctrl(Char('o')): ["open"], // Open document
        Ctrl(Left):      ["prev"], // Move to previous tab
        Ctrl(Right):     ["next"], // Move to next tab
        Ctrl(Char('z')): ["undo"], // Undo last edit
        Ctrl(Char('y')): ["redo"], // Redo last edit
        Ctrl(Char('f')): ["search"], // Trigger search command
        Ctrl(Char('r')): ["replace"], // Trigger replace command
        Ctrl(Char('a')): ["replace *"], // Trigger replace all command
        Ctrl(Up):        ["move line up"], // Move line up
        Ctrl(Down):      ["move line down"], // Move line down
        Ctrl(Delete):    ["delete word left"], // Delete word
        Alt(Char('a')):  ["cmd"], // Open the command line
        // Show help message URL
        F(1):   [
            "sh echo You can get help here:",
            "shc echo https://github.com/curlpipe/ox/wiki",
        ]
    },
    // Language specific settings
    languages: [
        Language(
            name: "Rust", // Name of the language
            icon: " ", // Icon for the language
            extensions: ["rs"], // Extensions of the language
            // Keywords of the language
            keywords: [
                "as", "break", "const", "continue", "crate", "else", 
                "enum", "extern", "fn", "for", "if", "impl", "in", 
                "let", "loop", "match", "mod", "move", "mut", "pub", 
                "ref", "return", "self", "static", "struct", "super", 
                "trait", "type", "unsafe", "use", "where", "while", 
                "async", "await", "dyn", "abstract", "become", "box", 
                "do", "final", "macro", "override", "priv", "typeof", 
                "unsized", "virtual", "yield", "try", "'static",
                "u8", "u16", "u32", "u64", "u128", "usize",
                "i8", "i16", "i32", "i64", "i128", "isize",
                "f32", "f64", "String", "Vec", "str", "Some", "bool",
                "None", "Box", "Result", "Option", "Ok", "Err", "Self",
                "std"
            ],
            // Syntax definitions
            definitions: {
                "operators":  [
                    r"(=)",
                    r"(\+)",
                    r"(\-)",
                    r"(\*)",
                    r"[^/](/)[^/]",
                    r"(\+=)",
                    r"(\-=)",
                    r"(\*=)",
                    r"(\\=)",
                    r"(==)",
                    r"(!=)",
                    r"(\?)",
                    r"(>=)",
                    r"(<=)",
                    r"(<)",
                    r"(>)",
                ],
                "namespaces": [
                    r"([a-z_][A-Za-z0-9_]*)::",
                ],
                "comments":   [
                    "(?m)(//.*)$", 
                    "(?ms)(/\\*.*?\\*/)",
                ],
                "strings":    [
                    "\"(?:[^\"\\\\]*(?:\\\\.[^\"\\\\]*)*)\"",
                    "(r\".*?\")",
                    "(?ms)(r#\".*?\"#)",
                    "(?ms)(#\".*?\"#)",
                ],
                "characters": [
                    "('.')", 
                    "('\\\\.')",
                ],
                "digits":     [
                    "\\b(\\d+.\\d+|\\d+)",
                    "\\b(\\d+.\\d+(?:f32|f64))",
                ],
                "booleans":   [
                    "\\b(true)\\b", 
                    "\\b(false)\\b",
                ],
                "functions":  [
                    "fn\\s+([a-z_][A-Za-z0-9_]*)\\s*\\(",
                    r"\.([a-z_][A-Za-z0-9_]*)\s*\(",
                    r"([a-z_][A-Za-z0-9_]*)\s*\(",
                ],
                "structs":    [
                    "(?:trait|enum|struct|impl)\\s+([A-Z][A-Za-z0-9_]*)\\s*", 
                    "impl(?:<.*?>|)\\s+([A-Z][A-Za-z0-9_]*)",
                    "([A-Z][A-Za-z0-9_]*)::",
                    r"([A-Z][A-Za-z0-9_]*)\s*\(",
                    "impl.*for\\s+([A-Z][A-Za-z0-9_]*)",
                    r"::\s*([a-z_][A-Za-z0-9_]*)\s*\(",
                ],
                "macros":     [
                    "\\b([a-z_][a-zA-Z0-9_]*!)",
                    r"(\$[a-z_][A-Za-z0-9_]*)",
                ],
                "attributes": [
                    "(?ms)^\\s*(#(?:!|)\\[.*?\\])",
                ],
                "references": [
                    "(&)",
                    "&str", "&mut", "&self", 
                    "&i8", "&i16", "&i32", "&i64", "&i128", "&isize",
                    "&u8", "&u16", "&u32", "&u64", "&u128", "&usize",
                    "&f32", "&f64",
                ]
            }
        ),
        Language(
            name: "Ruby", // Name of the language
            icon: " ", // Icon for the language
            extensions: ["rb"], // Extensions of the language
            // Keywords of the language
            keywords: [
                "__ENCODING__", "__LINE__", "__FILE__", "BEGIN", "END", 
                "alias", "and", "begin", "break", "case", "class", "def", 
                "defined?", "do", "else", "elsif", "end", "ensure", "print",
                "for", "if", "in", "module", "next", "nil", "not", "or", "puts",
                "redo", "rescue", "retry", "return", "self", "super", "then", 
                "undef", "unless", "until", "when", "while", "yield", "raise",
                "include", "extend", "require" 
            ],
            // Syntax definitions
            definitions: {
                "comments":   [
                    "(?m)(#.*)$", 
                    "(?ms)(=begin.*=end)", 
                ],
                "strings":    [
                    "(?:f|r|)\"(?:[^\"\\\\]*(?:\\\\.[^\"\\\\]*)*)\"",
                    "(?:f|r|)\'(?:[^\'\\\\]*(?:\\\\.[^\'\\\\]*)*)\'",
                ],
                "digits":     [
                    r"\b(\d+.\d+|\d+)",
                ],
                "booleans":   [
                    r"\b(true)\b", 
                    r"\b(false)\b",
                ],
                "structs":    [
                    r"class(\s+[A-Za-z0-9_]*)",
                ],
                "functions":  [
                    r"def\s+([a-z_][A-Za-z0-9_\\?!]*)",
                    "\\.([a-z_][A-Za-z0-9_\\?!]*)\\s*",
                    "\\b([a-z_][A-Za-z0-9_\\?!]*)\\s*\\(",
                ],
                "symbols":    [
                    r"(:[^,\)\.\s=]+)",
                ],
                "global":     [
                    r"(\$[a-z_][A-Za-z0-9_]*)\s",
                ],
                "regex": [
                    r"/.+/"
                ],
                "operators":  [
                    r"(=)",
                    r"(\+)",
                    r"(\-)",
                    r"(\*)",
                    r"(\s/\s)",
                    r"(\+=)",
                    r"(\-=)",
                    r"(\*=)",
                    r"(\\=)",
                    r"(==)",
                    r"(!=)",
                    r"(\&\&)",
                    r"(\|\|)",
                    r"(!)\S",
                    r"(>=)",
                    r"(<=)",
                    r"(<)",
                    r"(>)",
                ],
            }
        ),
        Language(
            name: "Crystal", // Name of the language
            icon: " ", // Icon for the language
            extensions: ["cr"], // Extensions of the language
            // Keywords of the language
            keywords: [
                "__ENCODING__", "__LINE__", "__FILE__", "BEGIN", "END", 
                "alias", "and", "begin", "break", "case", "class", "def", 
                "defined?", "do", "else", "elsif", "end", "ensure", "print",
                "for", "if", "in", "module", "next", "nil", "not", "or", "puts",
                "redo", "rescue", "retry", "return", "self", "super", "then", 
                "undef", "unless", "until", "when", "while", "yield", "raise",
                "include", "extend", "Int32", "String", "getter", "setter",
                "property", "Array", "Set", "Hash", "Range", "Proc", "typeof",
            ],
            // Syntax definitions
            definitions: {
                "comments":   [
                    "(?m)(#.*)$", 
                    "(?ms)(=begin.*=end)", 
                ],
                "strings":    [
                    "(?ms)(\".*?\")",
                    "(?:f|r|)\"(?:[^\"\\\\]*(?:\\\\.[^\"\\\\]*)*)\"",
                    "(\'.*?\')",
                ],
                "digits":     [
                    r"\b(\d+.\d+|\d+)",
                    r"(_i(?:8|16|32|64|128))",
                    r"(_u(?:8|16|32|64|128))",
                    r"(_f(?:8|16|32|64|128))",
                    "0x[A-Fa-f0-9]{6}"
                ],
                "booleans":   [
                    r"\b(true)\b", 
                    r"\b(false)\b",
                ],
                "structs":    [
                    r"class(\s+[A-Za-z0-9_]*)",
                ],
                "functions":  [
                    r"def\s+([a-z_][A-Za-z0-9_\\?!]*)",
                    "\\.([a-z_][A-Za-z0-9_\\?!]*)\\s*",
                    "\\b([a-z_][A-Za-z0-9_\\?!]*)\\s*\\(",
                ],
                "symbols":    [
                    r"(:[^,\}\)\.\s=]+)",
                ],
                "global":     [
                    r"(\$[a-z_][A-Za-z0-9_]*)\s",
                ],
                "operators":  [
                    r"(=)",
                    r"(\+)",
                    r"(\-)",
                    r"(\*)",
                    r"(\s/\s)",
                    r"(\+=)",
                    r"(\-=)",
                    r"(\*=)",
                    r"(\\=)",
                    r"(==)",
                    r"(!=)",
                    r"(\&\&)",
                    r"(\|\|)",
                    r"(!)\S",
                    r"(>=)",
                    r"(<=)",
                    r"(<)",
                    r"(>)",
                    r"(\?)",
                ],
            }
        ),
        Language(
            name: "Python", // Name of the language
            icon: " ", // Icon for the language
            extensions: ["py", "pyw"], // Extensions of the language
            // Keywords of the language
            keywords: [
                "and", "as", "assert", "break", "class", "continue", 
                "def", "del", "elif", "else", "except", "exec", 
                "finally", "for", "from", "global", "if", "import", 
                "in", "is", "lambda", "not", "or", "pass", "print", 
                "raise", "return", "try", "while", "with", "yield",
                "str", "bool", "int", "tuple", "list", "dict", "tuple",
                "len", "None", "input", "type", "set", "range", "enumerate",
                "open", "iter", "min", "max", "dir", "self", "isinstance", 
                "help", "next", "super",
            ],
            // Syntax definitions
            definitions: {
                "comments":   [
                    "(?m)(#.*)$", 
                ],
                "strings":    [
                    "(?ms)(\"\"\".*?\"\"\")",
                    "(?ms)(\'\'\'.*?\'\'\')",
                    "(?:f|r|)\"(?:[^\"\\\\]*(?:\\\\.[^\"\\\\]*)*)\"",
                    "(?:f|r|)\'(?:[^\'\\\\]*(?:\\\\.[^\'\\\\]*)*)\'",
                ],
                "digits":     [
                    "\\b(\\d+.\\d+|\\d+)",
                ],
                "booleans":   [
                    "\\b(True)\\b", 
                    "\\b(False)\\b",
                ],
                "structs":    [
                    "class\\s+([A-Za-z0-9_]*)",
                ],
                "functions":  [
                    "def\\s+([a-z_][A-Za-z0-9_]*)",
                    "\\.([a-z_][A-Za-z0-9_\\?!]*)\\s*",
                    "\\b([a-z_][A-Za-z0-9_\\?!]*)\\s*\\(",
                ],
                "attributes": [
                    "@.*$",
                ],
                "operators":  [
                    r"(=)",
                    r"(\+)",
                    r"(\-)",
                    r"(\*)",
                    r"(\s/\s)",
                    r"(\s//\s)",
                    r"(%)",
                    r"(\+=)",
                    r"(\-=)",
                    r"(\*=)",
                    r"(\\=)",
                    r"(==)",
                    r"(!=)",
                    r"(>=)",
                    r"(<=)",
                    r"(<)",
                    r"(>)",
                ],
            }
        ),
        Language(
            name: "Javascript", // Name of the language
            icon: " ", // Icon for the language
            extensions: ["js"], // Extensions of the language
            // Keywords of the language
            keywords: [
                "abstract", "arguments", "await", "boolean", "break", "byte", 
                "case", "catch", "char", "class", "const", "continue", "debugger", 
                "default", "delete", "do", "double", "else", "enum", "eval", 
                "export", "extends", "final", "finally", "float", "for", "of",
                "function", "goto", "if", "implements", "import", "in", "instanceof", 
                "int", "interface", "let", "long", "native", "new", "null", "package", 
                "private", "protected", "public", "return", "short", "static", 
                "super", "switch", "synchronized", "this", "throw", "throws", 
                "transient", "try", "typeof", "var", "void", "volatile", "console",
                "while", "with", "yield", "undefined", "NaN", "-Infinity", "Infinity",
            ],
            // Syntax definitions
            definitions: {
                "comments":   [
                    "(?m)(//.*)$", 
                    "(?ms)(/\\*.*\\*/)$", 
                ],
                "strings":    [
                    "(?ms)(\"\"\".*?\"\"\")",
                    "(?ms)(\'\'\'.*?\'\'\')",
                    "(?:f|r|)\"(?:[^\"\\\\]*(?:\\\\.[^\"\\\\]*)*)\"",
                    "(?:f|r|)\'(?:[^\'\\\\]*(?:\\\\.[^\'\\\\]*)*)\'",
                ],
                "digits":     [
                    "\\b(\\d+.\\d+|\\d+)",
                ],
                "booleans":   [
                    "\\b(true)\\b", 
                    "\\b(false)\\b",
                ],
                "structs":    [
                    "class\\s+([A-Za-z0-9_]*)",
                ],
                "functions":  [
                    "function\\s+([a-z_][A-Za-z0-9_]*)",
                    "\\b([a-z_][A-Za-z0-9_]*)\\s*\\(",
                    "\\.([a-z_][A-Za-z0-9_\\?!]*)\\s*",
                ],
                "operators":  [
                    r"(=)",
                    r"(\+)",
                    r"(\-)",
                    r"(\*)",
                    r"(\s/\s)",
                    r"(%)",
                    r"(\+=)",
                    r"(\-=)",
                    r"(\*=)",
                    r"(\\=)",
                    r"(==)",
                    r"(!=)",
                    r"(>=)",
                    r"(<=)",
                    r"(<)",
                    r"(>)",
                    r"(<<)",
                    r"(>>)",
                    r"(\&\&)",
                    r"(\|\|)",
                    r"(!)\S",
                ],
            }
        ),
        Language(
            name: "C", // Name of the language
            icon: " ", // Icon for the language
            extensions: ["c", "h"], // Extensions of the language
            // Keywords of the language
            keywords: [
                "auto", "break", "case", "char", "const", "continue", "default", 
                "do", "double", "else", "enum", "extern", "float", "for", "goto", 
                "if", "int", "long", "register", "return", "short", "signed", 
                "sizeof", "static", "struct", "switch", "typedef", "union", 
                "unsigned", "void", "volatile", "while", "printf", "fscanf", 
                "scanf", "fputsf", "exit", "stderr", "malloc", "calloc", "bool",
                "realloc", "free", "strlen", "size_t",
            ],
            // Syntax definitions
            definitions: {
                "comments":   [
                    "(?m)(//.*)$", 
                    "(?ms)(/\\*.*?\\*/)",
                ],
                "strings":    [
                    "\"(?:[^\"\\\\]*(?:\\\\.[^\"\\\\]*)*)\"",
                ],
                "characters": [
                    "('.')", 
                    "('\\\\.')",
                ],
                "digits":     [
                    "\\b(\\d+.\\d+|\\d+)",
                    "\\b(\\d+.\\d+(?:f|))",
                ],
                "booleans":   [
                    "\\b(true)\\b", 
                    "\\b(false)\\b",
                ],
                "functions":  [
                    "(int|bool|void|char|double|long|short|size_t)\\s+([a-z_][A-Za-z0-9_]*)\\s*\\(",
                    "\\b([a-z_][A-Za-z0-9_]*)\\s*\\(",
                ],
                "structs":    [
                    "struct\\s+([A-Za-z0-9_]*)\\s*", 
                ],
                "attributes": [
                    "^\\s*(#.*?)\\s",
                ],
                "headers":    [
                    "(<.*?>)",
                ],
                "operators":  [
                    r"(=)",
                    r"(\+)",
                    r"(\-)",
                    r"(\*)",
                    r"(\s/\s)",
                    r"(%)",
                    r"(\+=)",
                    r"(\-=)",
                    r"(\*=)",
                    r"(\\=)",
                    r"(==)",
                    r"(!=)",
                    r"(>=)",
                    r"(<=)",
                    r"(<)",
                    r"(>)",
                    r"(<<)",
                    r"(>>)",
                    r"(\&\&)",
                    r"(\|\|)",
                    r"(!)\S",
                ],
            }
        ),
    ],
)
