/*
    My very own (awesome) Ox configuration file!
    
    Ox uses RON. RON is an object notation similar to JSON.
    It makes it easy and quick for Ox to parse.

    Config name: NAME
    Author:      AUTHOR
    YEAR:        YEAR
*/

// General settings for Ox
(
    general: General(
        line_number_padding_right: 2, // Line number padding on the right
        line_number_padding_left:  1, // Line number padding on the left
        tab_width:                 4, // The amount of spaces for a tab
        undo_period:               5, // Seconds of inactivity for undo
    ),

    // RGB values for the colours of Ox
    theme: Theme(
        editor_bg:      (41, 41, 61), // The main background color
        editor_fg:      (255, 255, 255), // The default text color
        status_bg:      (59, 59, 84), // The background color of the status line
        status_fg:      (35, 240, 144), // The text color of the status line
        line_number_fg: (65, 65, 98), // The text color of the line numbers
    ),
)
